includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - config/
        - routes/

    level: max

    
    tmpDir: /tmp/phpstan

    editorUrl: 'vscode://file/%%file%%:%%line%%'